/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/bootstrap/scss/bootstrap";

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;
$navbar-height: 90px;
$brand-success:         #0E9042;

@font-face {
  font-family: 'Aquarelle';
  src:url('/fonts/Aquarelle.eot');
  src:url('/fonts/Aquarelle.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Aquarelle.svg#icomoon') format('svg'),
      url('/fonts/Aquarelle.woff') format('woff'),
      url('/fonts/Aquarelle.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
}
