// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// $grid-md: map-get($grid-breakpoints, "md");

$form-text-color: #333;

body.main {
  .brand {
    font-family: 'Aquarelle', serif;
    font-size: 50px;
    color: $form-text-color;
    display: block;
    margin: 3rem 0 2rem 0;
    text-decoration: none;
    line-height: .65em;
  }

  &.landing {

    .content {
      padding-bottom: 30px;
    }

    #nav ul {
      @media (min-width: 768px) {
        > li {
          float: none;
          + li {
            margin-top: 2px;
            margin-left: 0; // no need for this gap between nav items
          }
        }
      }

      li {
        a {
          color: $form-text-color;
        }
      }
    }

    #gallery {
      .work {
        margin-bottom: 4rem;
        box-shadow: 3px 3px 5px 0 #999;
        cursor: pointer;

        &.original {
          position: absolute;
          width: 80%;
          left: 10%;
        }

        img {
          width: 100%;
        }

        &:hover .info {
          display: block;
        }

        .info {
          background: #333;
          box-shadow: 0 10px 10px -10px #000 inset;
          color: #eee;
          padding: 1rem 2rem 2rem;
          width: 100%;

          .name {
            font-weight: bold;
            font-size: 150%;
          }

          .size {
            margin-bottom: 1em;
          }

          .price {
            background: transparent;
            border: 1px solid #eee;
            margin-right: 1em;
            &:hover {color: #eee;}
          }
        }
      }
    }

    footer {
      min-height: 70px;
      background: #644;
      box-shadow: inset 0 10px 10px -10px #000;
    }

    /* magnificent popup animations */
    /* content at start */
    .mfp-fade.mfp-wrap .mfp-content {
      opacity: 0;

      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    /* content animate it */
    .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
      opacity: 1;
    }
    /* content animate out */
    .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
      opacity: 0;

    }
  }

  &.info {
    background: #333139;
    color: #fff;

    h1, h2, h3, h4, h5, h6 { color: #888; }

    .me {
      margin: 2em 0;
    }
  }
}
