// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.main {
  overflow-x: hidden;

  $info-off-width: 10%;
  $info-on-width: 60%;

  #gallery {
    position: relative;
    width: 100%;
    padding-right: $info-off-width;
    min-height: 100%;
    background: #eaeaea;
    color: #8b8680;

    > header {
      @extend .right;
      padding: 1em;
    }
    .works {
      @extend .clearfix;
      padding-top: 5rem;

      .work {
        margin-bottom: 1rem;

        img {
          width: 100%;
        }

        .info {
          background: #8b8680;
          color: #d9d0c7;
          padding: 1rem;
          width: 100%;
        }
      }
    }

    #info {
      $shadow-color: #eee;
      background: #333139;
      color: #fff;
      position: absolute;
      width: $info-on-width;
      min-height: 100%;
      top: 0;
      padding: 2em 4em;
      right: 0;

      $shadow-color: #222;
      -webkit-box-shadow: -10px 0px 25px -6px $shadow-color;
      -moz-box-shadow: -10px 0px 25px -6px $shadow-color;
      box-shadow: -10px 0px 25px -6px $shadow-color;

      h1, h2, h3, h4, h5, h6 { color: #888; }

      .handle {
        @include side-radius(left, 10px);
        position: absolute;
        width: 1.5rem;
        height: 5rem;
        background: #333139;
        left: -1.5rem;
        top: 150px;
        cursor: pointer;
        -webkit-box-shadow: -10px 0px 25px -6px $shadow-color;
        -moz-box-shadow: -10px 0px 25px -6px $shadow-color;
        box-shadow: -10px 0px 25px -6px $shadow-color;

        .arrow {
          @extend .fa, .fa-chevron-right;
          color: #eaeaea;
          margin-top: 2rem;
          margin-left: .4rem;
        }
      }

      &.off {
        .handle .arrow {
          @extend .fa-chevron-left;
          margin-left: .3rem;
        }
        right: ($info-off-width - $info-on-width);
      }
    }
  }

  .words {
    margin: 2rem 0 1rem;
    color: #555;
    .art { color: #55a; }
  }
}
