// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.main {
  &.landing {
    overflow-x: hidden;

    #gallery {
      position: relative;
      width: 100%;
      min-height: 100%;
      background: #eaeaea;
      color: #8b8680;

      > header {
        @extend .right;
        padding: 1em;
      }
      #works {
        @extend .clearfix;
        padding-top: 5rem;

        .buff {
          position: absolute;
          width: 200px;
          left: -1000px;
        }
      }
    }

    .work {
      margin-bottom: 1rem;

      &.original {
        position: absolute;
        width: 80%;
        left: 10%;
      }

      img {
        width: 100%;
      }

      .info {
        background: #8b8680;
        color: #d9d0c7;
        padding: 1rem;
        width: 100%;
      }
    }

    .words {
      margin: 2rem 0 1rem;
      color: $charcoal;
      .art {
        color: #55a;
      }
    }

    /* magnificent popup animations */
    /* content at start */
    .mfp-fade.mfp-wrap .mfp-content {
      opacity: 0;

      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    /* content animate it */
    .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
      opacity: 1;
    }
    /* content animate out */
    .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
      opacity: 0;

    }
  }

  &.info {
    background: #333139;
    color: #fff;

    h1, h2, h3, h4, h5, h6 { color: #888; }

    .me {
      margin: 2em 0;
    }
  }
}
